[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IRISMustangMetrics"]
	path = IRISMustangMetrics
	url = https://github.com/cran/IRISMustangMetrics
[submodule "IRISSeismic"]
	path = IRISSeismic
	url = https://github.com/cran/IRISSeismic
[submodule "seismicRoll"]
	path = seismicRoll
	url = https://github.com/cran/seismicRoll
